# eclipse
*.log
*.temp
.project
*.prefs
.classpath
h2/*
h2
generated_code/*
generated_code
.settings
.settings/*
target/*
target
.factorypath
.idea
*.iml
doc/*

# maven
*.releaseBackup
release.properties

# other
.lingma